body {
    background-color: lightgray;
}

.text-other {
    color: black;
    font-size: 20px;
    background-color: darkgray;
    border-style: inset;
    border-width: 4px;
    border-color: darkslateblue;
    text-align: center;
    font-family: "Yu Gothic Medium", sans-serif;
    font-style: italic;
    font-weight: bold;
    border-radius: 5px}
.text-main {
    color: black;
    font-size: 20px;
    background-color: darkseagreen;
    border-style: outset;
    border-width: 6px;
    border-color: greenyellow;
    text-align: center;
    font-family: fantasy sans-serif;
    font-style: italic;
    font-weight: bold;
    border-radius: 8px}

/*header*/
header {
    background-color: #333;
    padding: 10px 0;
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

   /*footer*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Выровнять по горизонтали */
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
    border-radius: 10px;


}

.footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer-nav ul li {
    display: inline;
    margin: 0 15px;
}

.footer-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.footer-nav ul li a:hover {
    text-decoration: underline;
}

.footer-info p {
    margin: 10px 0;
}

.footer-info a {
    color: #cdb72a;
    text-decoration: none;
}

.footer-info a:hover {
    text-decoration: underline;
}
/* section*/

.banner {
    display: flex;
    background-image: url('../images/banner1.gif');
    background-size: auto;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 15px;
    width: 98%;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .banner {
        padding: 50px 10px; /* Adjust padding for smaller screens */
    }
}

.banner h1 {
    font-size: 50px;
    margin: 0;
}

.banner p {
    font-size: 20px;
    margin: 10px 0 0;
}

/* aside*/
.sidebar {
    width: 150px;
    background-color: darkgray;
    padding: 15px;
    position: relative;
    height: 200%;
    overflow: auto;
    border-right: 10px solid #002b55;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.sidebar nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

main {
    margin-left: 0px; /* Adjust margin if needed */
    padding: 15px;
    background-color: lightgray;
    border-radius: 3px;
    border-left: 5px solid #002b55;
    border-style: solid ;
    border-width: 7px;
    border-color: #002b55;
;
}

.news {
    margin-bottom: 20px;
    border-color: black;

}

.news h2 {
    font-size: 24px;
    margin-bottom: 10px;
    border-color: #002b55;
}

.news article {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #1111;


}

.news article h3 {
    font-size: 20px;
    margin-bottom: 5px;

}

.news article p {
    font-size: 16px;
    color: #333;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    img {
        width: 100%;
        height: auto;
    }
}

.image-caption {
    text-align: center;
    margin: 20px auto;

}

.image-caption p {
    font-size: 18px;
    font-weight: bold;
    background-size: contain;
    margin-bottom: 10px;
    background-color: darkgray;
    border-radius: 5px;
    padding: 5px;

}


 .crypto  {
        color: #fff;
        font-size: 20px;
        background-color: #333;
        border-radius: 5px;
        padding: 10px 10px;
        margin: 10px 0;
        text-align: center;
        font-family: "Yu Gothic Medium", sans-serif;
        font-style: italic;
        font-weight: bold;

         }

.cryptosystem {

    color: black;
    font-size: 18px;
    border-radius: 10px;

    text-align: left;
    font-family: Algerian, sans-serif;
    line-height: 1.4;
    font-weight: bold;
    max-width: 800px;
    margin: auto;
}

.centered-text {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 100vh; /* Повна висота вікна перегляду */
    flex-direction: column;

}
.text-row {
    display: flex;
    gap: 15px; /* Відстань між елементами, налаштуйте за потреби */
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: dimgray;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 0px;

}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    color: gray;
    background-color: darkgray;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}


.text-default {
    display: flex;
    justify-content: center; /* Вирівнювання по горизонталі */
    align-items: center; /* Вирівнювання по вертикалі */
    color: black;
    font-size: 20px;
    background-color: darkgray;
    border-width: 4px;
    border-color: darkslateblue;
    text-align: center;
    font-family: "bold", sans-serif;
    font-style: italic;
    font-weight: bold;
    border-radius: 5px;
}
.neon {
   text-shadow: gray 0 0 10px, gray 0 0 10px, gray 0 0 10px, gray 0 0 10px;
}



